[v-cloak] {
    display: none;
}
.new-feature-link {
    color: #070046;
    text-decoration: none;
}


.new-feature-link:visited {
    color: #160064;
}
.background {
    width: 100vw;
    height:100vh;
    background: rgb(234,239,246);
    background: linear-gradient(180deg, rgba(234,239,246,1) 17%, rgba(0,0,138,1) 96%);
}
.backgroundfull {
    height:fit-content;
    min-width: 1400px;
    background: rgb(234,239,246);
    background: linear-gradient(180deg, rgba(234,239,246,1) 17%, rgba(0,0,138,1) 96%);
}
header {
    width: 100%;
}
.small-banner{
    width: 80%;
    background-color: #379e29;
    margin: auto;
}

#beta-notice {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 5px;
}
#beta-link {
    text-align: center;
    margin: 5px;
}

#beta-disc {
    margin: 2px;
}
.title {
    width: 50%;
    font-size: 2em;
    margin-top: 10px;
    margin-left: 8%;
    margin-bottom: 10px;
    font-family: Helvetica, sans-serif;
}

#update-btn {
    font-size: 16px;
    color: darkblue;
    margin-bottom: 2px;
}

.subtitle {

    margin: 0;
}

.main-menu {
    background: rgb(179,179,179);
    background: linear-gradient(133deg, rgba(179,179,179,1) 54%, rgba(4,4,158,1) 55%, rgba(4,4,185,1) 57%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 62%, rgba(186,22,12,1) 63%, rgba(186,22,12,1) 84%, rgba(179,179,179,1) 85%);
    padding: 5px;
    padding-top: 2px;
    border-bottom: black 5px solid;
    border-top: black 5px solid;
    margin-top: 5px
}
.unit-menu {
    margin: 5px auto;
}

.unit-name {
    text-transform: capitalize;
}

#selected-unit {
    margin-top: 10px;
}

.btn-bold {
    font-weight: bold;
    font-size: 16px;
}
.unit-select-btn {
    
}

.select-another-btn {
    position: relative;
    left: 1%
}


.diagram {
    display: flex;
    position: relative;
    width: auto;
    margin: 10px 10px 10px 50px
}


.minimized-wind-details {
    position:absolute;
    display: flex;
    justify-content:space-around;
    left: 65px;
    top: 20px;
    width: 800px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.832);
    border: 2px red solid;
}
.inline-btn {
    display: inline-block;
}

.taf-metar-toggle-btn {
	box-shadow:inset 0px 1px 3px 0px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:5px;
	border:1px solid #4e6096;
    width: 100px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:8px 8px;
	text-decoration:none;
	text-shadow:0px -1px 0px #283966;
}
.taf-metar-toggle-btn:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.taf-metar-toggle-btn:active {
	position:relative;
	top:1px;
}

.taf-btn {
    margin-bottom: 70px;
    margin-top: 5px;
}

.wind-data-container {
    position:absolute;
    display: flex;
    justify-content: space-evenly;
    left: 25px;
    top: 20px;
    width: 880px;
    background-color: rgba(255, 255, 255, 0.832);
    border: 2px red solid;
}
.wind-data-col {
    margin: 5px;
    display: flex;
    flex-direction: column;
    
}

.minimized-details > span {
    font-size: 14px;
}
.minimized-details > .selectWindBtn {
    height: 15px;
    font-size: 10px;
    position: relative;
    bottom: 2;
    left: 5px;
    width: auto;
}

.hide-details-btn {
    border-radius: 5px;
    width: 75%;
    margin: auto;
    margin-bottom: 10px;
}

.show-details-btn {
    height: 20px;
    width: 125px;
    font-size: 12px;
    position: absolute;
    left: 400px;
    top: 50px;
    border-radius: 5px;
}

.wind-data-col-active {
    background-color: rgba(208, 250, 248, 0.832);
    margin: 3px;
    border: solid 2px black
}

.wind-data-heading {
    margin: 5px;
}
.wind-data-p {
    margin: 2px;
}
.selectWindBtn {
    border-radius: 5px;
    width: 50%;
    margin: auto;
    margin-bottom: 3px;
    margin-top: 3px;
}

.taf-text {
    min-width: 300px;

}
.canvas-footer {
    position:absolute;
    text-align: center;
    left: 307px;
    bottom: 40px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.632);
    border: 2px red solid;
}
#airstation {

    padding: 0;
}

.decode-taf-line {
    margin-bottom: 10px;
}

.decode-tafs-wrapper {
    margin: 1px;
}

.decode-taf-data-row {
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}

.decode-taf-data-col {
    display: flex;
    flex-direction: column;
    flex-basis: 100px;

}

.left-taf-data {
    text-align: right;
    margin-right: 3px;
    padding-right: 2px;
    flex: 1;
    border-right: solid 1px;
}
.right-taf-data {
    text-align: left;
    margin-right: 10px;
    flex: 2;
}

.taf-row-blue {
    background: rgb(122, 236, 236);
    background: linear-gradient(90deg, rgba(246,228,174,0) 0%, rgba(122, 236, 236,1) 3%, rgba(122, 236, 236,1) 48%, rgba(122, 236, 236,1) 97%, rgba(246,228,174,0) 100%);

}

.taf-row-yellow {
    background: rgb(246,228,174);
    background: linear-gradient(90deg, rgba(246,228,174,0) 0%, rgba(246,228,174,1) 3%, rgba(219,205,131,1) 48%, rgba(246,228,174,1) 97%, rgba(246,228,174,0) 100%);

}


.debug {
    clear: both;
    width: auto;
    color: rgb(194, 194, 194);
}
.temp-and-warning {
    width: 60px;
    background-color: rgba(255, 255, 255, 0.832);
    position: absolute;
    top: 250px;
    left: 20px;
}
.icon-divs{
    text-align: center;
}
.temp-value {
    font-size: 18px;
}
.caution-icons {
    width: 50px;
}

.temp-icon {
    width: 40px;
}

.caution-text {
    margin-top: 0px;
    font-size: 10px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }