[v-cloak] {
    display: none;
}
.diagram {
    display: flex;
    position: relative;
    width: auto;
    margin: -10px 10px 10px 50px
}
.wind-data-container {
    position:absolute;
    display: flex;
    justify-content: space-evenly;
    left: 65px;
    top: 20px;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.832);
    border: 2px red solid;
}
.wind-data-col {
    margin: 5px;
}
.wind-data-col > p {
    margin: 5px;
}
.wind-data-heading {
    margin: 5px;
}

.taf-text {
    min-width: 300px;
}
.canvas-footer {
    position:absolute;
    text-align: center;
    left: 307px;
    bottom: 40px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.632);
    border: 2px red solid;
}
#airstation {

    padding: 0;
}
.debug {
    width: auto;
}
.temp-and-warning {
    width: 60px;
    background-color: rgba(255, 255, 255, 0.832);
    position: absolute;
    top: 250px;
    left: 20px;
}
.icon-divs{
    text-align: center;
}
.temp-value {
    font-size: 18px;
}
.caution-icons {
    width: 50px;
}
.caution-text {
    margin-top: 0px;
    font-size: 10px;
}