html, body, #map {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    margin: auto;
}


.loading-modal {
    background-color: rgb(63, 113, 253);
    width: 10%;
    height: auto;
    margin: 20% auto;
    padding: 10px;
    position: relative;
    z-index: 1000;
    visibility: hidden;
    text-align: center;
}

.loading-text {
    font-size: large;
}

.header {
    display: inline-block;
    margin: 10px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
#tafTextField {
    margin: 5px;
}
.title {
    font-size: 2em;
    z-index: 500;
    font-family: Helvetica, sans-serif;
    background-color: #0f00993d;
    width: 80%;
    display: block;
    position: relative;
    top: 0px;
    margin: auto;
    text-align: center;
}

/* responsive, form small screens, use 13px font size */
@media (max-width: 1200px) {
    .title {
        width: 100%;
        font-size: 1.25em;
    }
    .map-controls{
        position: absolute;
    }
    
}

.map-controls {
    z-index: 500;
    position: absolute;
    top: 40px;
    left: 50%;
    padding: 10px;
}


#map { 

    margin:auto;
    overflow-y: hidden;
    z-index: 1;
}
.controls {
    display: flex;
    padding: 3px;
}

#swapMetarButton {
    color: white;
    padding: 5px 5px;
    cursor: pointer;
}

.wind-change-button {
    display: block;
}
.map-typ-btn {
    background-color: rgb(1, 1, 138);
    width: 150px;
}

button {
    background-color: #8a2c00;
    color: white;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 5%;
}


.unit-button {
    display: block;
    padding: 3px;
}




.notes {
    width:95%;
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 1.2em;
    background-color: #fce66877;
}


#taf-text{
    height: 700px;
    width: 25%;
    float: right;
    background-color: #f1f1f1;
}

/* #region TAF Line grids */
.grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 2px;
    margin: 3px;

}
.grid-blue {
    padding: 2px;
    margin: 1px 0px;
    background: rgb(122, 236, 236);
}

.grid-yellow {
    background: rgb(246,228,174);
    padding: 2px;
    margin: 1px 0px;
}

.grid-left {
    padding: 2px;
    border-right: 1px solid #000000;
    text-align: right;
    margin: 1px 0px;
}

.grid-right {
    padding: 2px;
    margin: 1px 0px;

}
 /* #endregion */

.bold {
    font-weight: bold;
    margin: 1px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 8; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
  
  /* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
  /* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    padding: 2px 16px;
    background: rgb(179,179,179);
    background: linear-gradient(133deg, rgba(179,179,179,1) 54%, rgba(4,4,158,1) 55%, rgba(4,4,185,1) 57%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 62%, rgba(186,22,12,1) 63%, rgba(186,22,12,1) 84%, rgba(179,179,179,1) 85%);
    color: rgb(0, 0, 0);
}
  
.modal-body {
    padding: 2px 16px;
    height: 80%;

}
  
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.update-iframe {
    width: 90%;
    height: 90%;
}

p {
    margin: 8px;
}

.leaflet-control {
    position:static
}

.wind-data-div {
    box-sizing: border-box;
    width: 100%;
    border: solid 2px black;
    font-size: 1.2em;
    
}

.wind-data-col-active {
    font-weight: bold;
    margin: auto;
    padding-left: 10%;
    background-color: rgba(208, 250, 248, 0.832);
    overflow: hidden;
}

#view-wind-text-p {
    margin-left: 20%;
    font-weight: bold;
    font-size: 1.5em;
}

#wind-buttons-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.view-wind-description-p {
    font-style: italic;
    font-size: .75em;
}

.subheading-span {
    font-size: .75em;
    margin-top: -20px;
    margin-left: auto;
    color: #8a2c00;
}